@import "tailwindcss";
@import "tw-animate-css";
@layer base {
  :root {
    --text-50: #ecf9f1;
    --text-100: #d9f2e3;
    --text-200: #b3e6c6;
    --text-300: #8cd9aa;
    --text-400: #66cc8d;
    --text-500: #40bf71;
    --text-600: #33995a;
    --text-700: #267344;
    --text-800: #194d2d;
    --text-900: #0d2617;
    --text-950: #06130b;
    
    --background-50: #ebfaf0;
    --background-100: #d6f5e0;
    --background-200: #adebc2;
    --background-300: #85e0a3;
    --background-400: #5cd685;
    --background-500: #33cc66;
    --background-600: #29a352;
    --background-700: #1f7a3d;
    --background-800: #145229;
    --background-900: #0a2914;
    --background-950: #05140a;
    
    --primary-50: #eafaf0;
    --primary-100: #d5f6e0;
    --primary-200: #abedc1;
    --primary-300: #82e3a2;
    --primary-400: #58da83;
    --primary-500: #2ed164;
    --primary-600: #25a750;
    --primary-700: #1c7d3c;
    --primary-800: #125428;
    --primary-900: #092a14;
    --primary-950: #05150a;
    
    --secondary-50: #eff1f6;
    --secondary-100: #dee4ed;
    --secondary-200: #bec9da;
    --secondary-300: #9daec8;
    --secondary-400: #7c92b6;
    --secondary-500: #5c77a3;
    --secondary-600: #495f83;
    --secondary-700: #374862;
    --secondary-800: #253041;
    --secondary-900: #121821;
    --secondary-950: #090c10;
    
    --accent-50: #e8fcef;
    --accent-100: #d1fadf;
    --accent-200: #a4f4bf;
    --accent-300: #76ef9e;
    --accent-400: #48ea7e;
    --accent-500: #1be45e;
    --accent-600: #15b74b;
    --accent-700: #108938;
    --accent-800: #0b5b26;
    --accent-900: #052e13;
    --accent-950: #031709;
    
  }
  .dark {
    --text-50: #06130b;
    --text-100: #0d2617;
    --text-200: #194d2d;
    --text-300: #267344;
    --text-400: #33995a;
    --text-500: #40bf71;
    --text-600: #66cc8d;
    --text-700: #8cd9aa;
    --text-800: #b3e6c6;
    --text-900: #d9f2e3;
    --text-950: #ecf9f1;
    
    --background-50: #05140a;
    --background-100: #0a2914;
    --background-200: #145229;
    --background-300: #1f7a3d;
    --background-400: #29a352;
    --background-500: #33cc66;
    --background-600: #5cd685;
    --background-700: #85e0a3;
    --background-800: #adebc2;
    --background-900: #d6f5e0;
    --background-950: #ebfaf0;
    
    --primary-50: #05150a;
    --primary-100: #092a14;
    --primary-200: #125428;
    --primary-300: #1c7d3c;
    --primary-400: #25a750;
    --primary-500: #2ed164;
    --primary-600: #58da83;
    --primary-700: #82e3a2;
    --primary-800: #abedc1;
    --primary-900: #d5f6e0;
    --primary-950: #eafaf0;
    
    --secondary-50: #090c10;
    --secondary-100: #121821;
    --secondary-200: #253041;
    --secondary-300: #374862;
    --secondary-400: #495f83;
    --secondary-500: #5c77a3;
    --secondary-600: #7c92b6;
    --secondary-700: #9daec8;
    --secondary-800: #bec9da;
    --secondary-900: #dee4ed;
    --secondary-950: #eff1f6;
    
    --accent-50: #031709;
    --accent-100: #052e13;
    --accent-200: #0b5b26;
    --accent-300: #108938;
    --accent-400: #15b74b;
    --accent-500: #1be45e;
    --accent-600: #48ea7e;
    --accent-700: #76ef9e;
    --accent-800: #a4f4bf;
    --accent-900: #d1fadf;
    --accent-950: #e8fcef;
    
  }
}
