@import "tailwindcss";
@import "tw-animate-css";
@layer base {
  :root {
    --background: 220 14% 96%;
    --foreground: 221 39% 11%;
    --card: 220 14% 96%;
    --card-foreground: 221 39% 11%;
    --popover: 220 14% 96%;
    --popover-foreground: 221 39% 11%;
    --primary: 160 84% 39%;
    --primary-foreground: 221 39% 11%;
    --secondary: 163 88% 20%;
    --secondary-foreground: 220 14% 96%;
    --muted: 219 14% 20%;
    --muted-foreground: 221 39% 70%;
    --accent: 43 96% 56%;
    --accent-foreground: 221 39% 11%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 221 39% 11%;
    --border: 219 14% 20%;
    --input: 219 14% 20%;
    --ring: 43 96% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 220 14% 4%;
    --foreground: 221 39% 89%;
    --card: 220 14% 4%;
    --card-foreground: 221 39% 89%;
    --popover: 220 14% 4%;
    --popover-foreground: 221 39% 89%;
    --primary: 160 84% 61%;
    --primary-foreground: 220 14% 4%;
    --secondary: 163 88% 80%;
    --secondary-foreground: 220 14% 4%;
    --muted: 219 14% 80%;
    --muted-foreground: 221 39% 89%;
    --accent: 43 96% 44%;
    --accent-foreground: 220 14% 4%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 221 37% 10%;
    --border: 221 14% 60%;
    --input: 219 14% 80%;
    --ring: 43 96% 60%;
  }
}
